PXParallaxViewController.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PXParallaxViewController.xcodeproj/project.xcworkspace/xcuserdata/paddy.xcuserdatad/UserInterfaceState.xcuserstate
PXParallaxViewController.xcodeproj/project.xcworkspace/xcuserdata/paddy.xcuserdatad/WorkspaceSettings.xcsettings
PXParallaxViewController.xcodeproj/xcuserdata/paddy.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
PXParallaxViewController.xcodeproj/xcuserdata/paddy.xcuserdatad/xcschemes/PXParallaxViewController.xcscheme
PXParallaxViewController.xcodeproj/xcuserdata/paddy.xcuserdatad/xcschemes/xcschememanagement.plist
